.tickets-item {
  display: flex;
  flex-direction: column;
  .tickets-item__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &.top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 50px;
      margin-bottom: 20px;
      .price {
        font-size: 24px;
        font-weight: 600;
        color: var(--brand_blue);
        text-transform: uppercase;
      }
      .carrier {
        width: 110px;
        object-fit: none;
        object-position: left center;
      }
    }
    .tickets-item__col {
      display: flex;
      flex-direction: column;
      .title {
        text-transform: uppercase;
        color: var(--secondary_text);
        font-weight: 600;
      }
      .value {
        color: var(--primary_text);
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 667px) {
  .tickets-item {
    .tickets-item__row {
      &.top {
        padding-right: unset;
      }
    }
  }
}

@media (max-width: 567px) {
  .tickets-item {
    .tickets-item__row {
      &.top {
        padding-right: unset;
      }
    }
  }
}

@media (max-width: 360px) {
  .tickets-item {
    .tickets-item__row {
      align-items: stretch;
    }
  }
}